header{ 
    background-color: rgb(48, 44, 44);
    color: white;
}
body{
    background-color: rgb(48, 44, 44);
    color: white;
}

ul{
    color: black
}
footer{
    background-color: rgb(48, 44, 44);
    color: white;
}
